/* FORMS */

.form-flex {
    display: flex;
    justify-content: center;
    gap: 1em;
    grid-area: 5 / 2 / 6 / 4;
    padding: 1em 0;
    border-top: 2px solid #262626;
    border-bottom-right-radius: 20px;
    background-color: #2d2d2d;
}

.msg-form {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.msg-form input {
    width: 100%;
    padding: 1em;
    outline: none;
    border: 1px solid #343434;
    border-radius: 20px;
    background-color: rgb(58, 58, 62);
    color: #e7e7e7;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: all 0.2s ease-in-out;
}

.msg-form input:focus {
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    background-color: rgb(66, 66, 68);
}

.msg-form button {
    padding: 0.1em 0.5em;
    margin-right: 1rem;
    border-radius: 50px;
    font-size: 20px;
    border: 2px solid #6f778b;
    background-color: #343434;
    transition: all 0.3s ease-in-out;
}

.add-msg__icon {
    color: #6f778b;
    transition: all 0.2s ease-in-out;
}

.msg-form button:hover {
    background-color: #7e8ce0;
    border: 2px solid #7e8ce0;
}

.msg-form button:hover > .add-msg__icon {
    color: #343434;
}

.img-form {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    padding: 0.5em;
    background-color: #2D2D2D;
    border-radius: 50px;
    border: 2px solid #2D2D2D;
    transition: all 0.2s ease-in-out;
}

.img-form:hover {
    border: 2px solid #7e8ce0;
}

.img-form:hover .add-image__icon {
    color: #7e8ce0;
}

.custom-file-input {
    display: none;
    visibility: hidden;
}

.add-image__label {
    cursor: pointer;
}

.add-image__icon {
    font-size: 24px;
    margin-bottom: 0;
    color: #6f778b;
    transition: all 0.2s ease-in-out;
}