@import "styles/userSettingsPopUp.css";

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #232323;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
}

main {
    display: grid;
    grid-template-columns: 200px repeat(2, 1fr);
    grid-template-rows: 60px repeat(3, 1fr) 80px;
    width: 100%;
    max-height: 100vh;
    max-width: 700px;
    background-color: #2d2d2d;
    color: #e7e7e7;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    transition: all 0.3s ease-in-out;
}

img {
    display: block;
    max-width: 100%;
}


/*---TYPOGRAPHY---*/

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    text-align: center;
}


/* GENERAL */
.flex {
    display: flex;
    gap: 5px;
    align-items: center;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

.btn__sign-out:hover {
    background-color: #ff7171;
}

.btn__settings:hover {
    background-color: #7e8ce0;
}


/* USER STYLES IN ONLINE SECTION AND MESSAGES */

.message__sender {
    font-size: 0.8rem;
    font-style: italic;
    border: 2px solid burlywood;
}

.users__list {
    max-height: 85%;
    min-height: 85%;
}

.online__user {
    margin-bottom: 0.5em;
    border-bottom: 2px solid #343434;
}

.online__user p {
    margin-bottom: 0;
}

/* SIGN IN SECTION */
.signInSection {
    padding: 1em;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

/* CHATROOM */
.chat__header, .chat__users {
    padding: 0.7em;
}

.chat__header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: 1 / 1 / 2 / 4;
    border-bottom: 2px solid #262626;
}

.chat__users {
    text-align: center;
    grid-area: 2 / 1 / 6 / 2;
    border-right: 2px solid #262626;
}

.chat__messages {
    max-height: 80vh;
    min-height: 80vh;
    padding: 0.5em 0;
    overflow-y: scroll;
    grid-area: 2 / 2 / 5 / 4;
    background-color: #262833;
}

.form-flex {
    border-top: 2px solid #262626;
    border-bottom-right-radius: 20px;
    background-color: #2d2d2d;
}

/* FORMS */

.form-flex {
    display: flex;
    justify-content: center;
    gap: 1em;
    grid-area: 5 / 2 / 6 / 4;
    padding: 1em 0;
}

.msg-form {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.msg-form input {
    width: 100%;
    padding: 1em;
    outline: none;
    border: 1px solid #343434;
    border-radius: 20px;
    background-color: rgb(58, 58, 62);
    color: #e7e7e7;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: all 0.2s ease-in-out;
}

.msg-form input:focus {
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    background-color: rgb(66, 66, 68);
}

.msg-form button {
    padding: 0.1em 0.5em;
    margin-right: 1rem;
    border-radius: 50px;
    font-size: 20px;
    border: 2px solid #6f778b;
    background-color: #343434;
    transition: all 0.3s ease-in-out;
}

.add-msg__icon {
    color: #6f778b;
    transition: all 0.2s ease-in-out;
}

.msg-form button:hover {
    background-color: #7e8ce0;
    border: 2px solid #7e8ce0;
}

.msg-form button:hover > .add-msg__icon {
    color: #343434;
}

.img-form {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    padding: 0.5em;
    background-color: #2D2D2D;
    border-radius: 50px;
    border: 2px solid #2D2D2D;
    transition: all 0.2s ease-in-out;
}

.img-form:hover {
    border: 2px solid #7e8ce0;
}

.img-form:hover .add-image__icon {
    color: #7e8ce0;
}

.custom-file-input {
    display: none;
    visibility: hidden;
}

.add-image__label {
    cursor: pointer;
}

.add-image__icon {
    font-size: 24px;
    margin-bottom: 0;
    color: #6f778b;
    transition: all 0.2s ease-in-out;
}

.message {
    margin-bottom: .5em;
}

.message p {
    margin-bottom: 0;
}

.msgReceived, .msgSent {
    width: fit-content;
    max-width: 90%;
    padding: 0.5em 0.7em;
    border-radius: 25px;
    color: #e7e7e7;
}

.msgSent {
    border-bottom-right-radius: 2px;
    background-color: #c65f83;
    margin-left: auto;
    margin-right: 0.5em;

}

.msgReceived {
    border-bottom-left-radius: 2px;
    background-color: #292A34;
    color: #e7e7e7;
    margin-left: 0.5em;
}


/* ADDING IMAGE TO CHAT */
.msgImg {
    max-height: 300px;
}

@media (min-width: 700px) {
    main {
        margin: .5em auto;
    }
}

@media (min-width: 400px) {
    input {
        width: 80%;

    }

    form button {
        border-right: 100px;
    }
}





