*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #292A34;
    line-height: 1.6;
}

main {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em 1em 0;
    color: #e7e7e7;
    border: 2px solid palevioletred;
}

section {
    border: 2px solid purple;
}

img {
    display: block;
    max-width: 100%;
}

button {
    transition: all 0.2s ease-in-out;
}

button:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

form {

    margin-bottom: 1em;
    border: 2px solid yellow;
}

input, form button {
    padding: 0.5em 0.6em;
}
input {
    width: 90%;
    border-bottom: 2px solid palevioletred;
}

form button {
    width: 10%;
    margin-left: auto;
    margin-right: 0;
}

/*---TYPOGRAPHY---*/

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

h1 {
    text-align: center;
}


.signInSection {
    padding: 1em;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.message {
    margin-bottom: 1em;
}

.message p {
    margin-bottom: 0;
}

.msgReceived, .msgSent {
    width: fit-content;
    max-width: 90%;
    padding: 0.5em 1em;
    border-radius: 25px;
    color: #292A34;
}

.msgSent {
    border-bottom-left-radius: 5px;
    background-color: aqua;
    margin-left: auto;
    margin-right: 0;
}

.msgReceived {
    border-bottom-right-radius: 5px;
    background-color: palevioletred;
}







